body{
  background-color:azure;
}

.App {
  text-align: center;
}

#nav-element{
  display: inline-block;
  background-color:cadetblue;
}
#nav-button{
  background-color:cadetblue;
  color: white;
  border: 2px;
  border:black;
  padding: 15px 32px;
}
#nav-button:hover{
  background-color:rgb(60, 131, 134);
}
input{
  background-color:lightgray;
  font-family:'Trebuchet MS';
}
input[type="submit"]{
  background-color:rgba(148, 144, 144, 0.8);
  color:black;
  border-radius:2px;
  border-color:black;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="submit"]:hover{
  background-color:gray;
}
